{% extends 'base.html.twig' %}

{% block body %}
    <div class="content-wrapper" style="min-height: 916px;">
        <section class="content-header">


            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Prenotazioni</li>
            </ol>
        </section>
        <div class="col-xs-12 ">
            <div class="prenotazioni box box-default" >
                <div class="box-header with-border">
                    <h3 class="box-title">Prenotazioni</h3>

                    <div class="box-tools pull-right">
                        <span><i class="fa fa-calendar" ></i><input type="text" id="datepickerPronotazioni" name="datapicker" class="datapicker col-xs-10 pull-right" /></span>
                    </div>
                    <!-- /.box-tools -->
                </div>



                <table class="table table-striped table-bordered">
                    <tr>
                        <th>Data</th>
                        <th>Ora</th>
                        <th>Sport</th>
                        <th>Campo</th>
                        <th>Nome</th>
                        <th>Cel</th>
                        <th>Note</th>
                        <th>Id Transazione</th>
                        <th>Mail PP</th>
                    </tr>
                    {% for item in elencoPrenotazioni %}
                        <tr>
                            <td>{{ item.dataPrenotazione|date('d-m') }}</td>
                            <td>{{ item.hour }}:00</td>
                            <td>{{ item.sportNome }}</td>
                            <td>Campo {{ item.campo }}</td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.cell }}</td>
                            <td>{{ item.note }}</td>
                            <td>{{ item.pptransactionId }}</td>
                            <td>{{ item.ppEmail }}</td>
                        </tr>
                    {% endfor %}
                </table>
             </div>
        </div>
    </div>
    <script>
        $.datepicker.setDefaults( $.datepicker.regional[ "it" ] );
        $('#datepickerPronotazioni').datepicker({
            minDate: new Date(),
            onSelect: function(date) {
                var giorno = toDate(date).yyyymmdd();
                window.location = "{{ path('prenotazioni_elencoRicerca') }}/"+giorno;
            },
        });
    </script>
{% endblock %}