{% extends 'base.html.twig' %}

{% block body %}
    <div class="content-wrapper" style="min-height: 916px;">
        <section class="content-header">


            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Sport</li>
            </ol>
        </section>
        <div class="col-xs-12 ">
            <div class="prenotazioni box clearfix" style="min-height: 400px">

                <h2>Elenco Prenotazioni</h2>
                <table class="table table-striped table-bordered">
                    <tr>
                        <th>Data</th>
                        <th>Ora</th>
                        <th>Sport</th>
                        <th>Campo</th>
                        <th>Nome</th>
                        <th>Cel</th>
                        <th>Note</th>
                        <th>Id Transazione</th>
                        <th>Mail PP</th>
                    </tr>
                    {% for item in elencoPrenotazioni %}
                        <tr>
                            <td>{{ item.dataPrenotazione|date('d-m') }}</td>
                            <td>{{ item.hour }}:00</td>
                            <td>{{ item.sportNome }}</td>
                            <td>Campo {{ item.campo }}</td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.cell }}</td>
                            <td>{{ item.note }}</td>
                            <td>{{ item.pptransactionId }}</td>
                            <td>{{ item.ppEmail }}</td>
                        </tr>
                    {% endfor %}
                </table>
             </div>
        </div>
    </div>
{% endblock %}