<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title itemprop="name">Letizia Sport Relax</title>

        <meta name="description" content="Il centro sportivo veronese per tutta la famiglia. Campi da calcetto di ultima generazione" />
        <meta name="keywords" content="calcio, calcetto, basket, pallavolo, volley, tennis, piscina, ristorante, pizzeria" />
        <link rel="shortcut icon" href="http://www.letiziasportrelax.it/wp-content/uploads/2016/02/favicon_letiziasportrelax.png" />
        <link rel="apple-touch-icon" href="http://www.letiziasportrelax.it/wp-content/uploads/2016/02/app-icon-letizia-sport-relax.png" />
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/css/jquery-ui.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/css/ionicons.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/css/font-awesome.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/css/fonts.css') }}" />

        <link rel="stylesheet" href="{{ asset('dist/css/skins/_all-skins.min.css')}}"/>
        <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}" />

        <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/js/jquery-ui.min.js') }}"></script>
        <script src="{{ asset('assets/js/main.js') }}"></script>
    </head>
    <body class="cli">
        <div class="wrapper">
            {% include 'cli.header.html.twig' %}
            {% block body %}{% endblock %}
        </div>
            {% block javascripts %}{% endblock %}

    </body>
</html>
