{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-xs-12">
        <div class="btn-circle add">
            <span class="glyphicon glyphicon-plus" style="font-size: 65px; color: #fff; margin:14px 20px;"></span>
        </div>
        <form action="{{ path("sport_new") }}" method="post" class="form-horizontal clearfix">
            <div class="form-group">

                <label for="sport_name" class="required col-xs-3 control-label">Nome</label>
                <div class="col-xs-9">
                    <input class="form-control" type="text" id="sport_name" name="sport[name]" required="required" maxlength="100">
                </div>
            </div>
            <div class="form-group">
                <label for="sport_priceResident" class="required col-xs-3 control-label">Prezzo residenti</label>
                <div class="col-xs-9">
                    <input type="text" class="form-control" id="sport_priceResident" name="sport[priceResident]" required="required">
                </div>
            </div>
            <div class="form-group">
                <label for="sport_priceResidentLightsOn" class="required col-xs-3 control-label">Prezzo residenti (notturno)</label>
                <div class="col-xs-9">
                    <input type="text" id="sport_priceResidentLightsOn"  class="form-control" name="sport[priceResidentLightsOn]" required="required">
                </div>
            </div>
            <div class="form-group">
                <label for="sport_priceNotResident" class="required col-xs-3 control-label">Prezzo non residenti</label>
                <div class="col-xs-9">
                    <input type="text" id="sport_priceNotResident" class="form-control" name="sport[priceNotResident]" required="required">
                </div>
            </div>
            <div class="form-group">
                <label for="sport_priceNotResidentLightsOn" class="required col-xs-3 control-label">Prezzo non residenti (notturno)</label>
                <div class="col-xs-9">
                    <input type="text" id="sport_priceNotResidentLightsOn"  class="form-control" name="sport[priceNotResidentLightsOn]" required="required">
                </div>
            </div>
            {{ form_widget(form._token) }}
            {#
            <input type="hidden" id="sport__token" name="sport[_token]" value="{{ sport[_token] }}" >
 #}

 {#
        {{ form_widget(form) }}
#}
        <input type="submit" class="btn btn-primary pull-right" value="Create" />
        </form>


                <a href="{{ path('sport_index') }}">Back to the list</a>
    <table class="table table-striped table-hover">
        <colgroup>
                <col width="10%"/>
                <col width="30%"/>
                <col width="15%"/>
                <col width="15%"/>
                <col width="15%"/>
                <col width="15%"/>
        </colgroup>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Prezzo residenti</th>
                <th>Prezzo residenti (notturno)</th>
                <th>Prezzo non residenti</th>
                <th>Prezzo non residenti (notturno)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sport in sports %}
            <tr>
                <td style="display: none"><a href="{{ path('sport_show', { 'id': sport.id }) }}">{{ sport.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('sport_show', { 'id': sport.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('sport_edit', { 'id': sport.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
                <td>{{ sport.name }}</td>
                <td>{{ sport.priceResident }}</td>
                <td>{{ sport.priceResidentLightsOn }}</td>
                <td>{{ sport.priceNotResident }}</td>
                <td>{{ sport.priceNotResidentLightsOn }}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('sport_new') }}">Create a new entry</a>
        </li>
    </ul>
    </div>
{% endblock %}
