{% extends 'base.html.twig' %}

{% block body %}
<div class="content-wrapper" style="min-height: 916px;">
    <section class="content-header">


    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Sport</li>
    </ol>
    </section>
    <div class="col-xs-12 ">
        <div class="prenotazioni box clearfix" style="min-height: 400px">

        <h2>Sport</h2>


        <div class="btn-circle add" onclick="addSport(this)">
            <span class="glyphicon glyphicon-plus" style="font-size: 25px; color: #fff; margin:12px 14px;"></span>
        </div>
            <div id="add_sport" style="display: none">
        <form action="{{ path("sport_new") }}" method="post" class="form-horizontal clearfix">
            <input type="hidden" id="sport_id">
            <div class="col-xs-6">
                <div class="form-group">

                    <label for="sport_name" class="required col-xs-4 control-label">Nome</label>
                    <div class="col-xs-8">
                        <input class="form-control" type="text" id="sport_name" tabindex="1" name="sport[name]" required="required" maxlength="100">
                    </div>
                </div>
                <div class="form-group">
                    <label for="sport_priceResident" class="required col-xs-4 control-label">Prezzo residenti</label>
                    <div class="col-xs-8">
                        <input type="text" class="form-control"  tabindex="4" id="sport_priceResident" name="sport[priceResident]" required="required">
                    </div>
                </div>
                <div class="form-group">
                    <label for="sport_priceResidentLightsOn" class="required col-xs-4 control-label">Prezzo residenti (notturno)</label>
                    <div class="col-xs-8">
                        <input type="text" id="sport_priceResidentLightsOn"   tabindex="6" class="form-control" name="sport[priceResidentLightsOn]" required="required">
                    </div>
                </div>
                <div class="form-group">
                    <label for="sport_minPlayer" class="required col-xs-4 control-label">Numero minimo giocatori</label>
                    <div class="col-xs-8">
                        <input type="text" id="sport_minPlayer"  tabindex="8" class="form-control" name="sport[sport_minPlayer]" required="required">
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="sport_fieldsNumber"  class="required col-xs-4 control-label">Numero campi</label>
                    <div class="col-xs-3">
                        <input type="text" id="sport_fieldsNumber"  tabindex="2"  class="form-control" name="sport[sport_fieldsNumber]" required="required">
                    </div>
                    <label for="sport_sportColor" class="required col-xs-2 control-label">Colore</label>
                    <div class="col-xs-3">
                        <div id="cp2" class="input-group colorpicker-component">
                            <input id="sport_sportColor" name="sport_sportColor"  tabindex="3" type="text" value="#000"  class="form-control" />
                            <span class="input-group-addon"><i></i></span>
                        </div>
                        <script>
                            $(function() {
                                $('#cp2').colorpicker();
                            });
                        </script>
                    </div>

                </div>
                <div class="form-group">
                    <label for="sport_priceNotResident" class="required col-xs-4 control-label">Prezzo non residenti</label>
                    <div class="col-xs-8">
                        <input type="text" id="sport_priceNotResident"  tabindex="5" class="form-control" name="sport[priceNotResident]" required="required">
                    </div>
                </div>
                <div class="form-group">
                    <label for="sport_priceNotResidentLightsOn" class="required col-xs-4 control-label">Prezzo non residenti (notturno)</label>
                    <div class="col-xs-8">
                        <input type="text" id="sport_priceNotResidentLightsOn"  tabindex="7" class="form-control" name="sport[priceNotResidentLightsOn]" required="required">
                    </div>
                </div>

                <div class="form-group">

                    <label for="sport_maxPlayer" class="required col-xs-4 control-label">Numero massimo giocatori</label>
                    <div class="col-xs-8">
                        <input type="text" id="sport_maxPlayer"   tabindex="9" class="form-control" name="sport[sport_maxPlayer]" required="required">
                    </div>

                </div>
            </div>



            {{ form_widget(form._token) }}
            {#
            <input type="hidden" id="sport__token" name="sport[_token]" value="{{ sport[_token] }}" >
 #}

 {#
        {{ form_widget(form) }}
#}
        <input type="button" id="add" onclick="updateSport()" class="btn btn-primary pull-right" value="Create"  />
        <input type="button" id="edit" onclick="updateSport()" class="btn btn-primary pull-right hide" value="Modifica" style="margin-right:5px" />
        <input type="button" id="del" onclick="deleteSport()"  class="btn btn-danger pull-right hide" value="Eliminia"  style="margin-right:5px" />
        </form>
        </div>


    <table class="table table-striped table-hover">
        <colgroup>
                <col width="30%"/>
                <col width="10%"/>
                <col width="10%"/>
                <col width="10%"/>
                <col width="10%"/>
                <col width="10%"/>
                <col width="10%"/>
                <col width="5%"/>
                <col width="5%"/>

        </colgroup>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Prezzo residenti</th>
                <th>Prezzo residenti (notturno)</th>
                <th>Prezzo non residenti</th>
                <th>Prezzo non residenti (notturno)</th>
                <th>Campi</th>
                <th>Giocatori Min</th>
                <th>Giocatori Max</th>
                <th>Colore</th>

            </tr>
        </thead>
        <tbody>
        {% for sport in sports %}
            <tr onclick="editSport(this)" data-sport-id="{{ sport.id }}">


                <td>{{ sport.name }}</td>
                <td>{{ sport.priceResident }}</td>
                <td>{{ sport.priceResidentLightsOn }}</td>
                <td>{{ sport.priceNotResident }}</td>
                <td>{{ sport.priceNotResidentLightsOn }}</td>
                <td>{{ sport.fieldsNumber }}</td>
                <td>{{ sport.minPlayer }}</td>
                <td>{{ sport.maxPlayer }}</td>
                <td style="background: {{ sport.sportColor }}">{{ sport.sportColor }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>
    </div>
    </div>

    <script>



        function editSport(item){
            $('div.add').click();
            $("#sport_name").val($(item).find("td:nth-child(1)").text());
            $("#sport_priceResident").val($(item).find("td:nth-child(2)").text());
            $("#sport_priceResidentLightsOn").val($(item).find("td:nth-child(3)").text());
            $("#sport_priceNotResident").val($(item).find("td:nth-child(4)").text());
            $("#sport_priceNotResidentLightsOn").val($(item).find("td:nth-child(5)").text());
            $("#sport_fieldsNumber").val($(item).find("td:nth-child(6)").text());
            $("#sport_minPlayer").val($(item).find("td:nth-child(7)").text());
            $("#sport_maxPlayer").val($(item).find("td:nth-child(8)").text());
            $("#sport_sportColor").val($(item).find("td:nth-child(9)").text());
            $("#sport_id").val($(item).attr('data-sport-id'));
            $("#add").addClass('hide');
            $("#edit").removeClass('hide');
            $("#del").removeClass('hide');

        }

        function deleteSport(){
            var sport_id = $("#sport_id").val();
            var url = "{{ path('sport_delete') }}";


            var obj = {'sport_id':sport_id};
            var jsonArray = JSON.stringify(obj);
            $.ajax({
                type: "POST",
                url: url,
                data: jsonArray,
                success: function(data){
                    console.log(sport_id);
                    $("tr[data-sport-id='"+sport_id+"']").remove();
                    clearForm();

                },
                dataType: 'json'
            });
        }

        function clearForm(){
            $("form input").each(function(){
                if($(this).attr("id") == "sport_sportColor"){
                    $(this).val("#000000");
                }else{
                    $(this).val("");
                }
            });
            $('.btn-circle.add').click();
        }

        function updateSport(){
            var sport_name              = $("#sport_name").val();
            var priceResident           = $("#sport_priceResident").val();
            var priceResidentLightsOn   = $("#sport_priceResidentLightsOn").val();
            var priceNotResident        = $("#sport_priceNotResident").val();
            var priceNotResidentLightsOn = $("#sport_priceNotResidentLightsOn").val();
            var fieldsNumber            = $("#sport_fieldsNumber").val();
            var sportColor              = $("#sport_sportColor").val();
            var minPlayer               = $("#sport_minPlayer").val();
            var maxPlayer               = $("#sport_maxPlayer").val();
            var sport_id                = $("#sport_id").val();

            if(sport_id > 0){
                var url = "{{ path('sport_edit') }}";
            }else{
                var url = "{{ path('sport_new') }}";
            }


            var obj = { 'sport_id':sport_id,
                        'sport_name': sport_name,
                        'priceResident':priceResident,
                        'priceResidentLightsOn':priceResidentLightsOn,
                        'priceNotResident':priceNotResident,
                        'priceNotResidentLightsOn':priceNotResidentLightsOn,
                        'fieldsNumber':fieldsNumber,
                        'sportColor':sportColor,
                        'minPlayer':minPlayer,
                        'maxPlayer':maxPlayer};
            var jsonArray = JSON.stringify(obj);
            $.ajax({
                type: "POST",
                url: url,
                data: jsonArray,
                success: function(data){
                    clearForm();


                    var tr = "<tr onclick=\"editSport(this)\" data-sport-id=\""+data.id+"\"><td>"+data.sport_name+"</td> <td>"+parseFloat(data.priceResident).toFixed(2)+"</td><td>"+parseFloat(data.priceResidentLightsOn).toFixed(2)+"</td> <td>"+parseFloat(data.priceNotResident).toFixed(2)+"</td> <td>"+parseFloat(data.priceNotResidentLightsOn).toFixed(2)+"</td><td style='background: "+data.sportColor+"'></td></tr>";
                    $("table").append(tr);
                },
                dataType: 'json'
            });
        }

        function addSport(item){
            if($(item).find('.glyphicon-plus').length > 0){
                $(item).find('.glyphicon-plus').removeClass('glyphicon-plus').addClass('glyphicon-minus').css('margin', '12px 12px');
                $("#add_sport").show('slow');
            }else{
                $(item).find('.glyphicon-minus').removeClass('glyphicon-minus').addClass('glyphicon-plus').css('margin', '12px 14px');
                $("#add_sport").hide('slow');
            }
        }

    </script>
{% endblock %}
