
<div class="col-sm-4" data-id-giorno="{{day.giorno_num}}">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3>{{ day.name|upper }}</h3>
            <div class="box-tools pull-right">
                <button type="button"  class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus" ></i>
                </button>
            </div>
            <table class="table"  data-day={{day.giorno_num}}>

                <thead>
                <tr>
                    <th>Dal</th>
                    <th>Sport</th>
                    <th>Nr. campi</th>
                </tr>
                </thead>
                <tbody>
                {#% for item in day %}
                     <tr data-id-scheudle="{{item.id}}">
                        <td>{item.giorno}</td>
                        <td>{item.name}</td>
                        <td>{item.fields}</td>
                    </tr>
                {% endfor %#}
                </tbody>
            </table>
            <div class="col-xs-12 aggiungiProgrammazione">
                <h5>Aggiungi programmazione:</h5>
                <div class="col-xs-12 pull-right" style="margin-bottom: 10px ">
                    Dal: <input type="text" name="data" class="datepicker" id="datepicker_{{day.giorno_num}}"  /></div>
                <div class="riga">
                    <div class="col-sm-8 col-xs-12 ">
                            <select id="sport_combo" class=" form-control" >
                                <option>Sport</option>
                                {% for item in sports %}
                                    <option data-sport-id="{{ item.id }}">{{ item.name }}</option>
                                {% endfor %}
                            </select>
                    </div>
                    <div class="col-sm-3 col-xs-10">
                        <input type="text" name="fields" id="fields_lun" maxlength="2" size="5" />
                    </div>
                    <div class="col-sm-1 col-xs-2">
                        <button type="button"  class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus" ></i></button>
                    </div>
                </div>
            </div>
                <button class="btn btn-primary pull-right" onclick="saveSchedule({{day.giorno_num}})" >Salva</button>
            </div>


        </div>
    </div>
<script>
    $(document).ready(function(){
        $.datepicker.setDefaults( $.datepicker.regional[ "it" ] );
        $('#datepicker_{{day.giorno_num}}').datepicker({
            autoclose: true,
            minDate: 0,
            beforeShowDay:function(dt){
                return [dt.getDay() == {{day.giorno_num}} ? true : false];
            }
        });

    })



</script>
