{% extends 'base.html.twig' %}

{% block body %}

    <script>

        function savePlan(item){
            var url = "{{ path('tab_save') }}";

                var day_sport = $(item).attr('name').split("_");
                var day = day_sport[0];
                var sport = day_sport[1];

                var obj = {'sport': sport, 'day': day, 'checked': $(item).is(":checked")};
                var jsonArray = JSON.stringify(obj);
                $.ajax({
                    type: "POST",
                    url: url,
                    data: jsonArray,
                    success: function(data){
                       alert(data.day);
                    },
                    dataType: 'json'
                });

            /*
            var jsonArray = {data:[{id: "1", days: "LUN,MER"}, {id: "2", days: "MAR,GIO"}]};

        //    var jsonArray = JSON.stringify(data);
            $.ajax({
                type: "POST",
                url: url,
                data: jsonArray,
                success: function(data){
                    alert(data.days);
                },
                dataType: 'json'
            });
            */
        }
</script>

    <div class="content-wrapper" style="min-height: 916px;">
        <section class="content-header">
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Gestione tabellone</li>
        </ol>
            </section>
        <div class="col-xs-12 ">
            <div class="prenotazioni box clearfix" style="min-height: 400px">

                {% for day in box_giorni %}

                    {% include 'tab/box_giorno.html.twig' with day %}
                {% endfor %}
             </div>
        </div>



    <table class="table table-hover has-js" >
        <thead>
            <tr>
                <th></th>
                <th>Lunedì</th>
                <th>Martedì</th>
                <th>Mercoledì</th>
                <th>Giovedì</th>
                <th>Venerdì</th>
                <th>Sabato</th>
                <th>Domenica</th>
            </tr>
        </thead>

        <tbody>
            {% for sport in sports %}
            <tr>
                <th scope="row" data-sport="{{sport.id }}" style="text-transform: uppercase">{{ sport.name }}</th>

                <td align="center"><label class="label_check"><input onchange="javascript:savePlan(this)" id="LUN" type="checkbox" name="LUN_{{ sport.id }}" value="check1"></label></td>

                <td align="center"><label class="label_check"><input onchange="javascript:savePlan(this)" id="MAR" type="checkbox" name="MAR_{{ sport.id }}" value="check1"></label></td>
                <td align="center"><label class="label_check"><input onchange="javascript:savePlan(this)" id="MER" type="checkbox" name="MER_{{ sport.id }}" value="check1"></label></td>
                <td align="center"><label class="label_check"><input onchange="javascript:savePlan(this)" id="GIO" type="checkbox" name="GIO_{{ sport.id }}" value="check1"></label></td>
                <td align="center"><label class="label_check"><input onchange="javascript:savePlan(this)" id="VEN" type="checkbox" name="VEN_{{ sport.id }}" value="check1"></label></td>
                <td align="center"><label class="label_check"><input onchange="javascript:savePlan(this)" id="SAB" type="checkbox" name="SAB_{{ sport.id }}" value="check1"></label></td>
                <td align="center"><label class="label_check"><input onchange="javascript:savePlan(this)" id="DOM" type="checkbox" name="DOM_{{ sport.id }}" value="check1"></label></td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
 </div>
 </div>
 </div>

    <script>

function saveSchedule(code_giorno){
    var elementi =  $("div[data-id-giorno='"+code_giorno+"']").find(".aggiungiProgrammazione");
	var giorno = $(elementi).find(".datepicker").val();
	var sport_array = [];
	$(elementi).find(".riga").each(function(){
		var sport_id = $(this).find( 'select :selected').attr('data-sport-id');
		var sport_name = $(this).find( 'select :selected').val();
		var fields = $(this).find("input[name='fields']").val();
		var giorno_numero = code_giorno;
		var sport = {'sport_id': sport_id, 'sport_name': sport_name,'fields': fields, 'giorno_numero': giorno_numero};
		sport_array.push(sport);
	});
	var obj = {'giorno': giorno, 'sport':sport_array};

             var url = "{{ path('tab_save') }}";
             var jsonArray = JSON.stringify(obj);
             $.ajax({
                 type: "POST",
                 url: url,
                 data: jsonArray,
                 success: function(data){
					 for(var i=0; i < sport_array.length; i++){
						$('table').append("<tr data-id-scheudle="+data.id+"><td>"+sport_array[i].sport_name+"</td><td>"+sport_array[i].fields+"</td></tr>");
					 }

                 },

                 dataType: 'json'
             })
}




        {% for item in schedules %}
        $("input[name='{{ item.days|upper }}_{{ item.sport.id }}']").attr('checked', 'checked');

        {% endfor %}
    </script>
{% endblock %}