<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title itemprop="name">Letizia Sport Relax</title>

    <meta name="description" content="Il centro sportivo veronese per tutta la famiglia. Campi da calcetto di ultima generazione" />
    <meta name="keywords" content="calcio, calcetto, basket, pallavolo, volley, tennis, piscina, ristorante, pizzeria" />
    <link rel="shortcut icon" href="http://www.letiziasportrelax.it/wp-content/uploads/2016/02/favicon_letiziasportrelax.png" />
    <link rel="apple-touch-icon" href="http://www.letiziasportrelax.it/wp-content/uploads/2016/02/app-icon-letizia-sport-relax.png" />
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}"/>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>

</head>
<body>
<div class="container">
    <div>

        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
            <a href="{{ path('fos_user_security_logout') }}">
                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
            </a>
        {# % else %}
            <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            #}
        {% endif %}

    </div>

    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    <div class="col-xs-12">
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>
</div>
</body>
</html>
