{% extends 'cli.base.html.twig' %}
{% block body %}
    <div class="col-xs-12 col-md-6 col-md-offset-3" id="compilazione">
        <div id="step1" class="clearfix">
             <div id="errori" style="display: none" class="alert alert-danger" role="alert"></div>
            <label class="col-xs-12 col-md-3"> Scegli lo sport:</label>
            <div class="col-xs-12 col-md-9">
                <select id="sport_combo" class=" form-control" onchange="javascript:step2(this)">
                    <option>Scegli uno sport</option>
                    {% for item in sports %}
                        <option data-sport-id="{{ item.id }}"
                                data-min-player="{{ item.minPlayer }}"
                                data-max-player="{{ item.maxPlayer }}">{{ item.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>



        <div id="step2" style="display: none" class="clearfix">
            <label class="col-xs-12 col-md-3"> Scegli la data:</label>
            <div class="col-xs-12 col-md-9">
                <input type="text" id="datepicker" class="form-control">
            </div>
        </div>
        <div id="step3" style="display: none" class="clearfix">
            <div  class="clearfix">
            <label class="col-xs-12 col-md-3"> Ora:</label>
            <div class="col-xs-12 col-md-9">
                <select name="hour" class="form-control">
                    <option value="9">9:00</option>
                    <option value="10">10:00</option>
                    <option value="11">11:00</option>
                    <option value="12">12:00</option>
                    <option value="13">13:00</option>
                    <option value="14">14:00</option>
                    <option value="15">15:00</option>
                    <option value="16">16:00</option>
                    <option value="17">17:00</option>
                    <option value="18">18:00</option>
                    <option value="19">19:00</option>
                    <option value="20">20:00</option>
                    <option value="21">21:00</option>
                </select>
            </div>
            </div>
            <div class="clearfix">
                <label class="col-xs-12 col-md-3">Giocatori:</label>
                <div class="col-xs-12 col-md-9" >
                    <span class="min pull-left" style="color: #fff"></span>
                    <span class="max pull-right" style="color: #fff"></span>
                    <div class="col-md-10 col-md-offset-1" id="slider"></div>
                </div>
            </div>
            <div  class="clearfix">
                <div class="col-xs-12 col-md-9 col-md-offset-3">
                    <input type="checkbox" id="residenti_check" name="residenti_check" /><span style="color: #fff"> Almeno l'80% dei giocatori sono residenti</span>
                </div>
            </div>
           <div> <button class="btn btn-primary pull-right" onclick="salva()">Prenota</button></div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 col-md-offset-3" id="checkout" style="display: none">

    <div class="clearfix" >
        <div class="box-header with-border">
            <h1>Prenotazione</h1>


        </div>
        <div id="dettaglioCheckout">
        </div>
        <div id="success" style="display: none">
            <span class="col-xs-12 sportName">Prenotazione eseguita</span>
        </div>
        <div>

        </div>
    </div>
    <script>
         function step2(select){


                var url = "{{ path('step2') }}";
                var sport_id =  $(select).find("option:selected").attr("data-sport-id");

                var obj = {'id_sport': sport_id};
                var jsonArray = JSON.stringify(obj);
                $.ajax({
                    type: "POST",
                    url: url,
                    data: jsonArray,
                    success: function(data){
                        $('#datepicker').datepicker("destroy");
                        $('#datepicker').val("");

                        prenotazioneForm(data.schedule);
                    },
                    dataType: 'json'
                });
        }

         function salva(){
             $('#errori').empty().hide();
             var players = $('#slider').slider("option", "value");

             var hour = $('select[name="hour"] :selected').val();
             var day = toDate($('#datepicker').val());
             var sport = $('select#sport_combo :selected').attr('data-sport-id');
             var sport_nome = $('select#sport_combo :selected').val();
             var residenti = false;
             if( $('#residenti_check').is(':checked')){
                residenti = false;

             }

             var obj = {
                 'players': players,
                 'hour':hour,
                 'day':day.yyyymmdd(),
                 'sport':sport,
                 'residenti':residenti
             };

             var url = "{{ path('preCheckout') }}";
             var jsonArray = JSON.stringify(obj);
             $.ajax({
                 type: "POST",
                 url: url,
                 data: jsonArray,
                 success: function(data){
                     $("#compilazione").hide();
                     $("#checkout").show();
                     $("#dettaglioCheckout").append("<span class='col-xs-12 sportName'>"+capitalizeFirstLetter(sport_nome)+"</span>");
                     $("#dettaglioCheckout").append("<span class='col-xs-12 calendario'>"+day.ddmm()+" alle "+hour+"</span>");
             //        $("#dettaglioCheckout").append("<span class='col-sm-10 col-sm-offset-1 residenti'>"+residentsNum+" players resdienti x <span class='pull-right'>"+data.tariffaResidenti+" &euro;</span></span>");
              //       $("#dettaglioCheckout").append("<span class='col-sm-10 col-sm-offset-1 rigaSomma'>"+notResidentNum+" players non resdienti  x <span class='pull-right'>"+data.tariffaNonResidenti+" &euro;</span></span>");
                     $("#dettaglioCheckout").append("<span class='col-sm-10 col-sm-offset-1 totale'>Totale <span class='pull-right'>"+parseFloat(data.totale).toFixed(2)+" &euro;</span></span>");
                     $("#dettaglioCheckout").append("<span class='col-xs-12'><button type=\"button\" class=\"btn btn-success pull-right btn-circle btn-lg\"  onclick='save()'><i class=\"glyphicon glyphicon glyphicon-ok\"></i></button>&nbsp;<button id='annulla' onclick='annulla()' class='btn btn-danger btn-circle btn-lg pull-right' ><i class=\"glyphicon glyphicon-remove\"></i></button></span>");
                 },
                 error(msg){

                      $('#errori').append("<div><strong>Errore!</strong> "+msg.responseText+"</div>");
                      $('#errori').show();

                },
                 dataType: 'json'
             });

         }

        function annulla(){
            $('#dettaglioCheckout').empty();
            $('#checkout').hide();
            $('#success').hide();
            $("#compilazione").show();
        }

         function prenotazioneForm(schedule) {
             $("#step2").show();

             if($('#slider').hasClass('ui-slider')){
                 $("#slider").destroy();
             }

             var minPlayer = $("#sport_combo :selected").attr('data-min-player');
             var maxPlayer = $("#sport_combo :selected").attr('data-max-player');
             $(".min").text(minPlayer);
             $(".max").text(maxPlayer);


             $("#slider").slider({
                 min: parseInt(minPlayer), // min value
                 max: parseInt(maxPlayer), // max value
                 step: 1,
                 value: parseInt(minPlayer), // default value of slider
                 slide: function(event, ui) {
                     $(".ui-slider-handle").text(ui.value).css('color', '#666');
                 }
             });
             $(".ui-slider-handle").text(minPlayer).css('color', '#666');


             $.datepicker.setDefaults( $.datepicker.regional[ "it" ] );
             $('#datepicker').datepicker({

                 minDate: 0,
                 beforeShowDay:  function(date){
                     var day = date.getDay();
                     var disabledDays = ["-1", "-1", "-1", "-1", "-1", "-1", "-1"];
                     for(var n = 0; n < schedule.length; n++){
                         disabledDays[schedule[n].day_number] = schedule[n].day_number;
                      }
                     if( day ==   disabledDays[0] || day ==   disabledDays[1] || day ==   disabledDays[2] || day ==   disabledDays[3] || day ==   disabledDays[4] || day ==   disabledDays[5] || day ==   disabledDays[5] ||day ==   disabledDays[6]  ){
                         return [true] ;
                     } else {

                         return [false] ;
                     }
                 },
                 onSelect: function () {
                     var date = $(this).val();
                     loadOrari(date);
                     showStep3();
                 }
             })
         };

         function loadOrari(date){
             var data_orari = toDate(date);
             var url = "{{ path('loadOrari') }}";
             var obj = {'data_orari': data_orari.yyyymmdd()};
             var jsonArray = JSON.stringify(obj);
             $.ajax({
                 type: "POST",
                 url: url,
                 data: jsonArray,
                 success: function(data){


                 },
                 dataType: 'json'
             });
         }

         function showStep3(){
             $("#step3").show();
         }



        function calendarioPrenotazioni(schedule){
            var today = new Date();
            var numeroGiornoSettimana = today.getDay();
            var giornoCorrente = today.getDate();
            var meseCorrente = today.getMonth() + 1;
            var annoCorrente = today.getFullYear();
            for(var i = 1; i < 11; i++){
                for(var n = 0; n < schedule.length; n++){
                    giornoNumero = schedule[n].day_number;
                    giornoDaCalcolare = giornoNumero - numeroGiornoSettimana;
                     //numeroDaAggiungere = 7 + giornoDaCalcolare;

                    if(i == 1){

                        giorno = new Date(today.getTime() + (86400000 * giornoDaCalcolare ));
                    }else{
                        giorno = new Date(today.getTime() + (86400000 * giornoDaCalcolare )+(7 * 86400000 * i));

                    }

                        $('#step2').append("<div class='col-xs-12 col-sm-3 step2_box' ><span>"+ giorno.ddmm() +" <i class='fa fa-calendar' onclick='step3()'></i></span></div>");
                }

            }
        }

        function save(){

            var url = "{{ path('checkout') }}";

            $.ajax({
                type: "POST",
                url: url,
                success: function(){
                    $('#dettaglioCheckout').hide();
                    $('#success').show();


                },
                dataType: 'json'
            });
        }
    </script>
{% endblock %}