{% extends 'base.html.twig' %}

{% block body %}
    <div class="content-wrapper" style="min-height: 916px;">
        <!-- Content Header (Page header) -->
        <section class="content-header">

            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Dashboard</li>
            </ol>
        </section>
        <div class="col-xs-8 ">
        <div class="prenotazioni box box-default" >
            <div class="box-header with-border">
                <h3 class="box-title">Prenotazioni</h3>

                <div class="box-tools pull-right hide">
                    <button type="button" class="btn btn-box-tool"><i class="fa fa-list disabled" onclick="vistaDsashboard('lista')"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool"><i class="fa fa-table"  style="opacity: 1" onclick="vistaDsashboard('tabella')"></i>
                    </button>
                </div>
                <!-- /.box-tools -->
            </div>

            <div id="prenotazioni_list" class="hide">
            <h3 id="tabella_giorno"></h3>

            </div>

            <div id="tabella_sport">
                <div class="tabella_sport_header col-xs-12">
                    <span class="pull-left col-xs-4" id="prev" onclick="createSportTable($(this).attr('data-prev'))"></span>
                    <h3 id="tabella_giorno" class="col-xs-4"></h3>
                    <span class="col-xs-4" id="next" onclick="createSportTable($(this).attr('data-next'))"></span>
                </div>
            </div>
        </div>


        </div>

        <div class="col-md-4">
            <div class="box box-default table-condensed">
                <div class="box-header with-border">
                    <h3 class="box-title">Chiusure</h3>

                    <div class="box-tools pull-right">
                        <button type="button"  class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus" onclick="openHide(this)"></i>
                        </button>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div id="calendarioChiusure" class="box-body">
                    {% for key, value in defaultHolidays %}
                        <div><input type="checkbox" name="{{ key }}"{% if value %} checked="checked " {% endif %} onchange="toggleCalendar(this)"> {{ key|date('d/m/Y') }}</div>

                    {% endfor %}
                    <div style="margin-top: 5px">
                        <input  class="col-xs-4 form-control" style="width: auto;" type="text" placeholder="gg/mm/aaaa" name="chiusura" id="chiusura" />
                        <button class="pull-right btn btn-primary btn-sm"   onclick="addChiusura()">Add</button>
                    </div>
                </div>

                <!-- /.box-body -->
            </div>
            <!-- /.box -->
            <div class="box box-default table-condensed">
                <div class="box-header with-border">
                    <h3 class="box-title">Orari Preferenze</h3>

                    <div class="box-tools pull-right">
                        <button type="button"  class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus" onclick="orariPreferenze(this)"></i>
                        </button>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body" id="timePreferences">
                    <table class="table table-stripped">
                        <thead>
                            <tr>
                                <th>Dal</th>
                                <th>Apertura</th>
                                <th>Chiusura</th>
                                <th>Notturno</th>
                            </tr>
                        </thead>
                    {% for  value in timePreferencies %}
                        <tr>
                            <td><i class="fa fa-trash" data-preferenze="{{ value.id }}" onclick="deletePreference(this)"></i>&nbsp;{{ value.date|date('d/m/Y') }}</td>
                            <td class="text-right">{{ value.apertura }}:00</td>
                            <td class="text-right">{{ value.chiusura }}:00</td>
                            <td class="text-right">{{ value.notturno }}:00</td>
                        </tr>

                    {% endfor %}
                        <tr id="savePref" class="savePref">

                            <td><input id="orari_preferenze"  type="text" name="data_preferenza" maxlength="10" size="10" style="margin: 0 -4px;" /></td>
                            <td class="text-right"><input type="text" name="apertura" maxlength="2" size="2"/>:00</td>
                            <td class="text-right"><input type="text" name="chiusura" maxlength="2" size="2"/>:00</td>
                            <td class="text-right"><input type="text" name="notturno" maxlength="2" size="2"/>:00</td>
                        </tr>
                        <tr class="savePref">
                            <td colspan="4"><button onclick="savePref()" class="btn btn-primary btn-sm pull-right" id="salva_pref">Add</button> </td>
                        </tr>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <div id="dialog" title="Prenotazione" style="display: none">
            <div id="listaPrenotazioni"></div>
            <div id="aggiungi_prenotazione">
                <div class="form-group clearfix">
                    <label class="col-xs-2">Sport:</label>
                    <div class="col-xs-10">
                        <input type="text" disabled="disabled" name="sport" class="form-control" />
                    </div>
                </div>
                <div class="form-group  clearfix">
                    <label class="col-xs-2">Data:</label>
                    <div class="col-xs-10">
                        <input type="text" disabled="disabled" name="giorno"  class="form-control" />
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="col-xs-2">Ora:</label>
                    <div class="col-xs-10">
                        <select>
                            <option data-hour-number="1">9:00</option>
                            <option data-hour-number="2">10:00</option>
                            <option data-hour-number="3">11:00</option>
                            <option data-hour-number="4">12:00</option>
                            <option data-hour-number="5">13:00</option>
                            <option data-hour-number="6">14:00</option>
                            <option data-hour-number="7">15:00</option>
                            <option data-hour-number="8">16:00</option>
                            <option data-hour-number="9">17:00</option>
                            <option data-hour-number="10">18:00</option>
                            <option data-hour-number="11">19:00</option>
                            <option data-hour-number="12">20:00</option>
                            <option data-hour-number="13">21:00</option>
                            <option data-hour-number="14">22:00</option>
                        </select>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="col-xs-2">Nome:</label>
                    <div class="col-xs-10">
                        <input type="text" name="nome"  class="form-control"/>
                    </div>
                </div>
                <button class="btn btn-primary pull-right" id="salva_prenotazione" onclick="salvaPrenotazione($('#aggiungi_prenotazione'))">Salva</button>
            </div>
        </div>
        <script>

            function prenota(sport, numero_ora ){
                var giorno_ita = giorno.split('-').reverse().join('-');
                var sport = $("#sport_combo option:checked").text();
                var sport_id = $("#sport_combo option:checked").attr('data-sport-id');
                $( "#dialog" ).dialog( "open" );
                $("#aggiungi_prenotazione input[name='giorno']").attr('value', giorno_ita);
                $("#aggiungi_prenotazione input[name='sport']").attr('value', sport);
                $("#aggiungi_prenotazione input[name='sport']").attr('data-sport-id', sport_id);
                $("#aggiungi_prenotazione select option").each(function(){
                    $(this).removeAttr('selected');
                    var ora = $(this).attr('data-hour-number');
                    if(parseInt(numero_ora) == parseInt(ora) +1){
                        $(this).attr('selected', true);
                    }
                })

            }

            $(function() {
                $("#dialog").dialog({
                    autoOpen: false,
                    width: 600,
                    create: function (event, ui) {

                        $(".ui-dialog").removeClass('ui-corner-all');
                        $(".ui-dialog-titlebar").removeClass('ui-corner-all');
                    },
                });
            });

            function vistaDsashboard(tipo){
                if(tipo == 'tabella'){
                    $('#tabella_sport').show().removeClass('hide');
                    $('#prenotazioni_list').hide();
                    $('.fa-table').css('opacity','.5').css('cursor', 'default');
                    $('.fa-list').css('opacity','1').css('cursor','pointer');
                }else if(tipo == 'lista'){
                    $('.fa-list').css('opacity','.5');
                    $('#tabella_sport').hide();
                    $('#prenotazioni_list').show();
                    $('.fa-table').css('opacity','1').css('cursor', 'pointer');
                    $('.fa-list').css('opacity','.5').css('cursor','default');
                }
            }

            function createSportTable(day){

                var url = "{{ path('dash_loadTabellaSport') }}";

                var obj = {'day': day};
                var jsonArray = JSON.stringify(obj);
                $.ajax({
                    type: "POST",
                    url: url,
                    data: jsonArray,
                    success: function(data){
                        $("#tabella_sport table").remove();
                        var giorno = new Date(data.giorno.date);
                        $("h3#tabella_giorno").text(giorno.ddmm());
                        $("h3#tabella_giorno").attr("data-giorno", giorno.ddmmyyyy());

                        var tomorrow = new Date(data.giorno.date);
                        tomorrow.setDate(giorno.getDate()+1);
                        $('#next').text(tomorrow.ddmm());
                        $('#next').attr('data-next', tomorrow.yyyymmdd());

                        var data_corrente = new Date();

                        if(giorno.ddmm() != data_corrente.ddmm()){
                            var yesterday = new Date(data.giorno.date);
                            tomorrow.setDate(giorno.getDate()-1);
                            $('#prev').text(tomorrow.ddmm());
                            $('#prev').attr('data-prev', tomorrow.yyyymmdd());
                        }

                        var sport = data.sport;
                        var body = document.getElementsByTagName('body')[0];
                        var tbl = document.createElement('table');
                        tbl.setAttribute('class','table table-striped');

                        tbl.style.width = '100%';

                        var tbdy = document.createElement('tbody');
                        var orarioApertura = data.apertura;
                        var orarioChiusura = data.chiusura;
                        var orarioNotturno = data.notturno;

                        var thead = document.createElement('thead');
                        var tr_head = document.createElement('tr');
                        var th = document.createElement('th');
                        tr_head.appendChild(th);
                        sport.forEach(function (item) {
                        var column_num = 1;
                            for (n = 1; n <= item.fieldsNumber; n++) {
                                var th = document.createElement('th');
                                th.style['background-color'] = item.sportColor;
                                th.setAttribute("data-sport-id", item.sport_id);
                                th.setAttribute("data-column-id", column_num);
                                th.setAttribute("title", item.name);
                                column_num++;
                                th.appendChild(document.createTextNode(item.abbreziazione + " #" + n));

                                tr_head.appendChild(th);
                            }

                        });
                        thead.appendChild(tr_head);
                        tbl.appendChild(thead);

                        for (var i = orarioApertura; i < orarioChiusura; i++) {
                            var tr = document.createElement('tr');
                            var th = document.createElement('th');
                            th.appendChild(document.createTextNode(i + ":00"));
                            th.setAttribute('data-ora', i);
                            tr.appendChild(th);
                            sport.forEach(function (item) {
                                for (n = 1; n <= item.fieldsNumber; n++) {
                                    var td = document.createElement('td');

                                  //  td.style['background-color'] = item.sportColor;
                                   // td.appendChild(document.createTextNode(item.name + "#" + n));
                                    tr.appendChild(td)
                                }

                            });
                            tbdy.appendChild(tr);

                        }
                        tbl.appendChild(tbdy);
                        document.getElementById('tabella_sport').appendChild(tbl);
                        //chiamata per avere elenco di prenotazioni
                        prenotazioni(giorno.yyyymmdd());

                    },
                    error: function(data){
                       // $("#savePref").append("<span style='color:red'>Si è verificato un errore</span>");

                    },
                    dataType: 'json'
                });

            }

            function prenotazioni(day){
                var url = "{{ path('dash_getReservation') }}";
                var obj = {'day': day};
                var jsonArray = JSON.stringify(obj);
                $.ajax({
                    type: "POST",
                    url: url,
                    data: jsonArray,
                    success: function(data){
                        for(var i=0; i< data.length; i++){

                        var col_numb = $('#tabella_sport').find('th[data-sport-id="'+data[i].id_sport+'"][data-column-id="'+data[i].campo+'"]').index();
                        $("#tabella_sport tr:nth-child(2) td:eq("+ --col_numb +")").text(data[i].name);
                        }



                    },
                    error: function(data){

                    },
                    dataType: 'json'
                });

            }

            $(function() {
                $("#dialog").dialog({
                    autoOpen: false,
                    width: 600,
                    create: function (event, ui) {

                        $(".ui-dialog").removeClass('ui-corner-all');
                        $(".ui-dialog-titlebar").removeClass('ui-corner-all');
                    },
                });
            });

            $(document).ready(function(){
                today = new Date();
                createSportTable(today.yyyymmdd());
                hideCheckbox();
 //               var tomorrow = new Date();
 //               tomorrow.setDate(today.getDate()+1);
 //               $('#next').text(tomorrow.ddmm());
 //               $('#next').attr('data-next', tomorrow.yyyymmdd());

            });


            $(document.body).on('click', "#tabella_sport td", function(e){
                var column_num = parseInt( $(this).index() ) + 1;
                var row_num = parseInt( $(this).parent().index() )+1;
                var giorno_ita = $('h3#tabella_giorno').attr('data-giorno');
                var sportId = $("#tabella_sport thead tr th:nth-child("+ column_num +")").attr('data-sport-id');
                var campoId = $("#tabella_sport thead tr th:nth-child("+ column_num +")").attr('data-column-id');
                var orario  = $("#tabella_sport tr").eq(row_num).find('th').attr('data-ora');
                $( "#dialog" ).dialog( "open" );
                $("#aggiungi_prenotazione input[name='giorno']").attr('value', giorno_ita);
                $("#aggiungi_prenotazione input[name='sport']").attr('value', sport);
                $("#aggiungi_prenotazione input[name='sport']").attr('data-sport-id', sport_id);
                $("#aggiungi_prenotazione select option").each(function(){
                    $(this).removeAttr('selected');
                    var ora = $(this).attr('data-hour-number');
                    if(parseInt(numero_ora) == parseInt(ora) +1){
                        $(this).attr('selected', true);
                    }
                })


                alert( "sportId =" + sportId + "  ,  campoId ="+ campoId + " orario = "+ orario);
            });


            $.datepicker.setDefaults( $.datepicker.regional[ "it" ] );
            $("#chiusura").datepicker();
            $("#orari_preferenze").datepicker();

            function openHide(box){
                if($(box).hasClass('fa-plus')){
                    $(box).removeClass('fa-plus').addClass('fa-minus');

                    showCheckbox();
                }else if($(box).hasClass('fa-minus')){
                    $(box).removeClass('fa-minus').addClass('fa-plus');
                    hideCheckbox();
                }
            }

            function orariPreferenze(box){
                if($(box).hasClass('fa-plus')){
                    $(box).removeClass('fa-plus').addClass('fa-minus');
                    $('.savePref').show('slow');
                }else if($(box).hasClass('fa-minus')){
                    $(box).removeClass('fa-minus').addClass('fa-plus');
                    $('.savePref').hide('slow');

                }
            }

            function savePref(){
                var pref = $('#savePref');
                var date = $(pref).find('input[name="data_preferenza"]').val();
                var aper = $(pref).find('input[name="apertura"]').val();
                var chiu = $(pref).find('input[name="chiusura"]').val();
                var nott = $(pref).find('input[name="notturno"]').val();


                var url = "{{ path('pref_save') }}";


                var obj = {'date': date, 'aper':aper, 'chiu':chiu, 'nott':nott};
                var jsonArray = JSON.stringify(obj);
                $.ajax({
                    type: "POST",
                    url: url,
                    data: jsonArray,
                    success: function(data){

                    },
                    error: function(data){
                        $("#savePref").append("<span style='color:red'>Si è verificato un errore</span>");

                    },
                    dataType: 'json'
                });
            }

            function deletePreference(item){
                var url = "{{ path('pref_delete') }}";
                var id = $(item).attr('data-preferenze');

                var obj = {'id': id};
                var jsonArray = JSON.stringify(obj);
                $.ajax({
                    type: "POST",
                    url: url,
                    data: jsonArray,
                    success: function(data){
                        alert(data.day);
                    },
                    error: function(data){
                        $("#savePref").append("<span style='color:red'>Si è verificato un errore</span>");

                    },
                    dataType: 'json'
                });
            }

            function hideCheckbox(){
                $("#calendarioChiusure div").each(function(){
                    if(!$(this).find('input').is(':checked')){
                        $(this).hide('slow');
                    }else{
                        $(this).find('input').css('visibility','hidden ');
                    }
                })
            }

            function showCheckbox(){
                $("#calendarioChiusure div").each(function(){
                    if(!$(this).find('input').is(':checked')){
                        $(this).show('slow');
                    }else{
                        $(this).find('input').css('visibility','visible ');
                    }
                })
            }


            function addChiusura(){

                var data_nuova_chiusura =  $("input[name='chiusura']").val();
                data_chiusura = data_nuova_chiusura.split("/");
                data_chiusura = new Date(data_chiusura[2], data_chiusura[1]-1, data_chiusura[0]);
                var cb = document.createElement('input');
                cb.type = 'checkbox';
                data_chiusura = data_chiusura.getTime()/1000;
                cb.name = data_chiusura;
                cb.checked = true;
                $("#calendarioChiusure div").each(function(index){
                    var current_timestamp = $(this).find('input').attr('name');
                    if(current_timestamp > data_chiusura){

                        $('#calendarioChiusure > div:nth-child(' + index + ')' ).after("<div id='ins'> "+data_nuova_chiusura+"</div>");
                        $("#ins").prepend(cb);
                        return false;
                    }
                })

                toggleCalendar(cb);

            }

            function toggleCalendar(input){
                var url = "{{ path('cal_save') }}";
                var day = $(input).attr('name');

                var obj = {'day': day, 'checked': $(input).is(":checked")};
                var jsonArray = JSON.stringify(obj);
                $.ajax({
                    type: "POST",
                    url: url,
                    data: jsonArray,
                    success: function(data){
                        $("#calendarioChiusure #ins").css('opacity', "1");
                        $("#calendarioChiusure #ins").removeAttr("id");
                        $("#chiusura").attr('value','');
                    },
                    error: function(data){
                        $("#calendarioChiusure #ins").append("<span style='color:red'> - Si è verificato un errore</span>");
                        $("#chiusura").attr('value','');
                    },
                    dataType: 'json'
                });
            }
        </script>
    </div>
{% endblock %}