{% extends 'base.html.twig' %}

{% block body %}
    <div class="content-wrapper" style="min-height: 916px;">
        <!-- Content Header (Page header) -->
        <section class="content-header">

            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Dashboard</li>
            </ol>
        </section>
        <div class="col-xs-8 ">
        <div class="prenotazioni box">
            <h2>Prenotazioni</h2>
            <h3>Mercoledì 11/05</h3>
            <div class="prenotazioni_ora">
                <h4>ore 9:00</h4>
                <div class="singola_prenotazione row ">
                    <div class="col-xs-2 calcetto">
                        C5 #1
                    </div>
                    <div class="col-xs-10">
                        <div>Perata:</div>
                        <div>calcetto - campo 1</div>

                    </div>

                </div>
                <div class="singola_prenotazione row">
                    <div class="col-xs-2 calcetto">
                        C5 #2
                    </div>
                    <div class="col-xs-10">
                        <div>Truzzi:</div>
                        <div>calcetto - campo 2</div>

                    </div>

                </div>
                <div class="singola_prenotazione row">
                    <div class="col-xs-2 beach">
                        Bw
                    </div>
                    <div class="col-xs-10">
                        <div>Castellani:</div>
                        <div>Beach volley</div>

                    </div>

                </div>
            </div>
            <div class="prenotazioni_ora">
                <h3>ore 10:00</h3>
                <div class="singola_prenotazione row">
                    <div class="col-xs-2 calcetto">
                        C5 #1
                    </div>
                    <div class="col-xs-10">
                        <div>Zinelli:</div>
                        <div>Calcetto - campo 1</div>

                    </div>

                </div>
            </div>
        </div>
        </div>
        <div class="col-md-4">
            <div class="box box-default table-condensed">
                <div class="box-header with-border">
                    <h3 class="box-title">Chiusure</h3>

                    <div class="box-tools pull-right">
                        <button type="button"  class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus" onclick="javascript:openHide(this)"></i>
                        </button>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div id="calendarioChiusure" class="box-body">
                    {% for key, value in defaultHolidays %}
                        <div><input type="checkbox" name="{{ key }}"{% if value %} checked="checked " {% endif %} onchange="javascript:toggleCalendar(this)"> {{ key|date('d/m/Y') }}</div>

                    {% endfor %}
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
            <div class="box box-default table-condensed">
                <div class="box-header with-border">
                    <h3 class="box-title">Orari Preferenze</h3>

                    <div class="box-tools pull-right">
                        <button type="button"  class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus" onclick="javascript:orariPreferenze(this)"></i>
                        </button>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body" id="timePreferences">
                    <table class="table table-stripped">
                        <thead>
                            <tr>
                                <th>Dal</th>
                                <th>Apertura</th>
                                <th>Chiusura</th>
                                <th>Notturno</th>
                            </tr>
                        </thead>
                    {% for  value in timePreferencies %}
                        <tr>
                            <td><i class="fa fa-trash" date-preferenze="{{ value.id }}" onclick="javascript:deletePreference(this)"></i>&nbsp;{{ value.date|date('d/m/Y') }}</td>
                            <td class="text-right">{{ value.apertura }}:00</td>
                            <td class="text-right">{{ value.chiusura }}:00</td>
                            <td class="text-right">{{ value.notturno }}:00</td>
                        </tr>

                    {% endfor %}
                        <tr id="savePref">

                            <td><input  type="text" name="data_preferenza" maxlength="10" size="10" /></td>
                            <td class="text-right"><input type="text" name="apertura" maxlength="2" size="2"/>:00</td>
                            <td class="text-right"><input type="text" name="chiusura" maxlength="2" size="2"/>:00</td>
                            <td class="text-right"><input type="text" name="notturno" maxlength="2" size="2"/>:00</td>
                        </tr>
                        <tr>
                            <td colspan="4"><button onclick="savePref()" class="btn btn-primary btn-sm" id="salva_pref">Add</button> </td>
                        </tr>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>

        <script>
            $(document).ready(function(){
                hideCheckbox();
            });

            function openHide(box){
                if($(box).hasClass('fa-plus')){
                    $(box).removeClass('fa-plus').addClass('fa-minus');

                    showCheckbox();
                }else if($(box).hasClass('fa-minus')){
                    $(box).removeClass('fa-minus').addClass('fa-plus');
                    hideCheckbox();
                }
            }

            function savePref(){
                var pref = $('#savePref');
                var date = $(pref).find('input[name="data_preferenza"]').val();
                var aper = $(pref).find('input[name="apertura"]').val();
                var chiu = $(pref).find('input[name="chiusura"]').val();
                var nott = $(pref).find('input[name="notturno"]').val();

                var url = "{{ path('pref_save') }}";


                var obj = {'date': date, 'aper':aper, 'chiu':chiu, 'nott':nott};
                var jsonArray = JSON.stringify(obj);
                $.ajax({
                    type: "POST",
                    url: url,
                    data: jsonArray,
                    success: function(data){
                        alert(data.day);
                    },
                    dataType: 'json'
                });
            }

            function deletePreference(item){
                var url = "{{ path('pref_delete') }}";
                var id = $(item).attr('data-preferenze');

                var obj = {'id': id};
                var jsonArray = JSON.stringify(obj);
                $.ajax({
                    type: "POST",
                    url: url,
                    data: jsonArray,
                    success: function(data){
                        alert(data.day);
                    },
                    dataType: 'json'
                });
            }

            function hideCheckbox(){
                $("#calendarioChiusure div").each(function(){
                    if(!$(this).find('input').is(':checked')){
                        $(this).css('display','none');
                    }else{
                        $(this).find('input').css('visibility','hidden ');
                    }
                })
            }

            function showCheckbox(){
                $("#calendarioChiusure div").each(function(){
                    if(!$(this).find('input').is(':checked')){
                        $(this).css('display','block');
                    }else{
                        $(this).find('input').css('visibility','visible ');
                    }
                })
            }

            function toggleCalendar(input){
                var url = "{{ path('cal_save') }}";
                var day = $(input).attr('name');

                var obj = {'day': day, 'checked': $(input).is(":checked")};
                var jsonArray = JSON.stringify(obj);
                $.ajax({
                    type: "POST",
                    url: url,
                    data: jsonArray,
                    success: function(data){
                        alert(data.day);
                    },
                    dataType: 'json'
                });
            }
        </script>
    </div>
{% endblock %}