{% extends 'base.html.twig' %}

{% block body %}
    <div class="content-wrapper" style="min-height: 916px;">
        <!-- Content Header (Page header) -->
        <section class="content-header">

            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Dashboard</li>
            </ol>
        </section>
        <div class="col-xs-8 ">
        <div class="prenotazioni box box-default" >
            <div class="box-header with-border">
                <h3 class="box-title">Prenotazioni</h3>

                <div class="box-tools pull-right">
                    <span><i class="fa fa-calendar" ></i><input type="text" id="datepickerPronotazioni" name="datapicker" class="datapicker col-xs-10 pull-right" /></span>
                </div>
                <!-- /.box-tools -->
            </div>

            <div id="prenotazioni_list" class="hide">

            <h3 id="tabella_giorno"></h3>
            </div>

            <div id="tabella_sport">
                <div class="tabella_sport_header col-xs-12">
                    <span class="pull-left col-xs-4" id="prev" onclick="createSportTable($(this).attr('data-prev'))"></span>
                    <h3 id="tabella_giorno" class="col-xs-4"></h3>
                    <span class="col-xs-4" id="next" onclick="createSportTable($(this).attr('data-next'))"></span>
                </div>
            </div>
        </div>


        </div>

        <div class="col-md-4">
            <div class="box box-default table-condensed">
                <div class="box-header with-border">
                    <h3 class="box-title">Chiusure</h3>

                    <div class="box-tools pull-right">
                        <button type="button"  class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus" onclick="openHide(this)"></i>
                        </button>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div id="calendarioChiusure" class="box-body">
                    {% for key, value in defaultHolidays %}
                        <div><input type="checkbox" name="{{ key }}"{% if value %} checked="checked " {% endif %} onchange="toggleCalendar(this)"> {{ key|date('d/m/Y') }}</div>

                    {% endfor %}
                    <div style="margin-top: 5px">
                        <input  class="col-xs-4 form-control" style="width: auto;" type="text" placeholder="gg/mm/aaaa" name="chiusura" id="chiusura" />
                        <button class="pull-right btn btn-primary btn-sm"   onclick="addChiusura()">Add</button>
                    </div>
                </div>

                <!-- /.box-body -->
            </div>
            <!-- /.box -->
            <div class="box box-default table-condensed" id="orariPreferenzeBox">
                <div class="box-header with-border">
                    <h3 class="box-title">Orari Preferenze</h3>

                    <div class="box-tools pull-right">
                        <button type="button"  class="btn btn-box-tool toggleOrariPreferenze" data-widget="collapse"><i class="fa fa-plus" onclick="orariPreferenze(this)"></i>
                        </button>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body" id="timePreferences">
                    <table class="table table-stripped">
                        <thead>
                            <tr>
                                <th>Dal</th>
                                <th>Apertura</th>
                                <th>Chiusura</th>
                                <th>Notturno</th>
                            </tr>
                        </thead>
                    {% for  value in timePreferencies %}
                        <tr>
                            <td><i class="fa fa-trash" data-preferenze="{{ value.id }}" onclick="deletePreference(this)"></i>&nbsp;{{ value.date|date('d/m/Y') }}</td>
                            <td class="text-right">{{ value.apertura }}:00</td>
                            <td class="text-right">{{ value.chiusura }}:00</td>
                            <td class="text-right">{{ value.notturno }}:00</td>
                        </tr>

                    {% endfor %}
                        <tr id="savePref" class="savePref">

                            <td><input id="orari_preferenze"  type="text" name="data_preferenza" maxlength="10" size="10" style="margin: 0 -4px;" /></td>
                            <td class="text-right"><input type="text" name="apertura" maxlength="2" size="2"/>:00</td>
                            <td class="text-right"><input type="text" name="chiusura" maxlength="2" size="2"/>:00</td>
                            <td class="text-right"><input type="text" name="notturno" maxlength="2" size="2"/>:00</td>
                        </tr>
                        <tr class="savePref">
                            <td colspan="4"><button onclick="savePref()" class="btn btn-primary btn-sm pull-right" id="salva_pref">Add</button> </td>
                        </tr>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <div id="dialog" title="Prenotazione" style="display: none">
            <div id="listaPrenotazioni"></div>
            <div id="aggiungi_prenotazione">
                <div class="form-group clearfix">
                    <label class="col-xs-2">Sport:</label>
                    <div class="col-xs-10">
                        <input type="text" disabled="disabled" name="sport" class="form-control" />
                    </div>
                </div>
                <input type="hidden" name="id_prenotazione"  value=""/>
                <div class="form-group  clearfix">
                    <label class="col-xs-2">Data:</label>
                    <div class="col-xs-10">
                        <input type="text" disabled="disabled" name="giorno"  class="form-control" />
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="col-xs-2">Ora:</label>
                    <div class="col-xs-10">
                        <select id="orariPopUp">

                        </select>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="col-xs-2">Nome:</label>
                    <div class="col-xs-10">
                        <input type="text" name="nome"  class="form-control"/>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="col-xs-2">Cell:</label>
                    <div class="col-xs-10">
                        <input type="text" name="cell"  class="form-control"/>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="col-xs-2">Note:</label>
                    <div class="col-xs-10">
                        <input type="text" name="note"  class="form-control"/>
                    </div>
                </div>

                <button class="btn btn-danger pull-left" id="del_prenotazione" onclick="delPrenotazione($('#aggiungi_prenotazione'))">Elimina</button>
                <button class="btn btn-primary pull-right" id="salva_prenotazione" onclick="salvaPrenotazione($('#aggiungi_prenotazione'))">Salva</button>
            </div>
        </div>
        <script>

            $('#datepickerPronotazioni').datepicker({
                minDate: new Date(),
                onSelect: function(date) {
                    var giorno = toDate(date).yyyymmdd();
                    createSportTable(giorno);
                },
            });

            function delPrenotazione(elemento){
                var id_prenotazione =   $(elemento).find("input[name='id_prenotazione']").val();
                var url = "{{ path('del_reservation') }}";

                var obj = {'id_prenotazione':id_prenotazione};
                var jsonArray = JSON.stringify(obj);
                $.ajax({
                    type: "POST",
                    url: url,
                    data: jsonArray,
                    success: function(data){
                        $( "#dialog" ).dialog( "close" );
                        location.reload();
                    },
                    error: function(data){

                    },
                    dataType: 'json'
                });
            }

            function salvaPrenotazione(elemento){

                var sport = $(elemento).find( "input[name='sport']").attr('data-sport-id');
                var giorno = toDate($(elemento).find("input[name='giorno']").attr('value')).yyyymmdd();
                var ora = $(elemento).find("option:selected").attr('data-hour-number');

                var nome = $(elemento).find("input[name='nome']").val();
                var cell = $(elemento).find("input[name='cell']").val();
                var note = $(elemento).find("input[name='note']").val();
                var id_prenotazione =   $(elemento).find("input[name='id_prenotazione']").val();



                var url = "{{ path('save_reservation') }}";


                var obj = {'id_sport': sport, 'giorno': giorno, 'ora':ora, 'nome':nome, 'cell': cell, 'note':note, 'id_prenotazione':id_prenotazione};
                var jsonArray = JSON.stringify(obj);
                $.ajax({
                    type: "POST",
                    url: url,
                    data: jsonArray,
                    success: function(data){
                        $( "#dialog" ).dialog( "close" );
                        location.reload();
                    },
                    error: function(data){

                    },
                    dataType: 'json'
                });
            }

            $(function() {
                $("#dialog").dialog({
                    autoOpen: false,
                    width: 600,
                    create: function (event, ui) {

                        $(".ui-dialog").removeClass('ui-corner-all');
                        $(".ui-dialog-titlebar").removeClass('ui-corner-all');
                    },
                });
            });

            function vistaDsashboard(tipo){
                if(tipo == 'tabella'){
                    $('#tabella_sport').show().removeClass('hide');
                    $('#prenotazioni_list').hide();
                    $('.fa-table').css('opacity','.5').css('cursor', 'default');
                    $('.fa-list').css('opacity','1').css('cursor','pointer');
                }else if(tipo == 'lista'){
                    $('.fa-list').css('opacity','.5');
                    $('#tabella_sport').hide();
                    $('#prenotazioni_list').show();
                    $('.fa-table').css('opacity','1').css('cursor', 'pointer');
                    $('.fa-list').css('opacity','.5').css('cursor','default');
                }
            }

            function createSportTable(day){
                var data_richiesta = new Date(day).getTime();
                var closingDays = [];
                {% for i in closingDays %}
                    closingDays.push('{{ i.date }}');
                {% endfor %}

                var url = "{{ path('dash_loadTabellaSport') }}";
                console.log(day);
                var obj = {'day': day};
                var jsonArray = JSON.stringify(obj);
                $.ajax({
                    type: "POST",
                    url: url,
                    data: jsonArray,
                    success: function(data){
                        $("#tabella_sport table").remove();
                        $("#errorMessage").remove();
                        $("#orariPopUp").empty();
                        var giorno = new Date(data.giorno.date);
                        $("h3#tabella_giorno").text(giorno.ddmm());
                        $("h3#tabella_giorno").attr("data-giorno", giorno.ddmmyyyy());


                        var tomorrow = new Date(data.giorno.date);
                        tomorrow.setDate(giorno.getDate()+1);
                        $('#next').text(tomorrow.ddmm());
                        $('#next').attr('data-next', tomorrow.yyyymmdd());

                        var data_corrente = new Date();

                        if(giorno.ddmm() != data_corrente.ddmm()){
                            var yesterday = new Date(data.giorno.date);
                            tomorrow.setDate(giorno.getDate()-1);
                            $('#prev').text(tomorrow.ddmm());
                            $('#prev').attr('data-prev', tomorrow.yyyymmdd());
                        }

                        if(closingDays.indexOf(data_richiesta)>0){
                            $('.prenotazioni.box.box-default').append("<div style='text-align: center' id='giornoChiusura'>Giorno di chiusura</div>");
                            return;
                        }

                        var sport = data.sport;
                        var body = document.getElementsByTagName('body')[0];
                        var tbl = document.createElement('table');
                        tbl.setAttribute('class','table table-striped');

                        tbl.style.width = '100%';

                        var tbdy = document.createElement('tbody');
                        var orarioApertura = data.apertura;
                        var orarioChiusura = data.chiusura;
                        var orarioNotturno = data.notturno;

                        var thead = document.createElement('thead');
                        var tr_head = document.createElement('tr');
                        var th = document.createElement('th');
                        tr_head.appendChild(th);
                        sport.forEach(function (item) {
                        var column_num = 1;
                            for (n = 1; n <= item.fieldsNumber; n++) {
                                var th = document.createElement('th');
                                th.style['background-color'] = item.sportColor;
                                th.setAttribute("data-sport-id", item.sport_id);
                                th.setAttribute("data-column-id", column_num);
                                th.setAttribute("title", item.name);
                                column_num++;
                                th.appendChild(document.createTextNode(item.abbreziazione + " #" + n));

                                tr_head.appendChild(th);
                            }

                        });
                        thead.appendChild(tr_head);
                        tbl.appendChild(thead);

                        for (var i = orarioApertura; i < orarioChiusura; i++) {
                            var tr = document.createElement('tr');
                            var th = document.createElement('th');
                            th.appendChild(document.createTextNode(i + ":00"));
                            th.setAttribute('data-ora', i);
                            tr.appendChild(th);
                            $("#orariPopUp").append('<option data-hour-number="'+i+'">'+i+':00</option>')
                            sport.forEach(function (item) {
                                for (n = 1; n <= item.fieldsNumber; n++) {
                                    var td = document.createElement('td');

                                  //  td.style['background-color'] = item.sportColor;
                                   // td.appendChild(document.createTextNode(item.name + "#" + n));
                                    tr.appendChild(td)
                                }

                            });
                            tbdy.appendChild(tr);

                        }
                        tbl.appendChild(tbdy);
                        document.getElementById('tabella_sport').appendChild(tbl);
                        //chiamata per avere elenco di prenotazioni
                        prenotazioni(giorno.yyyymmdd());

                    },
                    error: function(data){
                        $("#tabella_sport table").remove();
                      $("#tabella_sport .tabella_sport_header").append("<span id='errorMessage' class='col-xs-12' style='text-align:center'>"+data.responseJSON.description+"</span>");

                    },
                    dataType: 'json'
                });

            }

            function prenotazioni(day){
                var url = "{{ path('dash_getReservation') }}";
                var obj = {'day': day};
                var jsonArray = JSON.stringify(obj);
                $.ajax({
                    type: "POST",
                    url: url,
                    data: jsonArray,
                    success: function(data){
                        for(var i=0; i< data.length; i++){
                        var note = data[i].note ? " <i class='fa fa-sticky-note-o'></i>" : "";
                        var row_numb =  parseInt($('#tabella_sport').find('th[data-ora="'+data[i].hour+'"]').parent().index()) + 1;
                        var col_numb = $('#tabella_sport').find('th[data-sport-id="'+data[i].id_sport+'"][data-column-id="'+data[i].campo+'"]').index();

                            console.log("row_numb"+row_numb);
                        var row_num = parseInt( $("#timePreferences table tr").length )-2;
                            console
                        $("#tabella_sport tr:nth-child("+row_numb+") td:eq("+ --col_numb +")").attr('data-id-prenotazione',data[i].id).attr('data-cell', data[i].cell).attr('data-note',data[i].note).text(data[i].name).append(note);
                        }
                    },
                    error: function(data){

                    },
                    dataType: 'json'
                });

            }

            $(function() {
                $("#dialog").dialog({
                    autoOpen: false,
                    width: 600,
                    create: function (event, ui) {

                        $(".ui-dialog").removeClass('ui-corner-all');
                        $(".ui-dialog-titlebar").removeClass('ui-corner-all');
                    },
                });
            });

            $(document).ready(function(){
                today = new Date();
                createSportTable(today.yyyymmdd());
                hideCheckbox();
 //               var tomorrow = new Date();
 //               tomorrow.setDate(today.getDate()+1);
 //               $('#next').text(tomorrow.ddmm());
 //               $('#next').attr('data-next', tomorrow.yyyymmdd());

            });


            $(document.body).on('click', "#tabella_sport td", function(e){
                var column_num = parseInt( $(this).index() ) + 1;
                var row_num = parseInt( $(this).parent().index() )+1;
                var col_num_edit = parseInt(column_num) - 2;

                var id_prenotazione = $('#tabella_sport table tr:eq('+row_num+') td:eq('+ col_num_edit  +')').attr('data-id-prenotazione');
                if(id_prenotazione > 0){
                    var td = $('#tabella_sport table tr:eq('+row_num+') td:eq('+ col_num_edit  +')');
                    console.log(td);
                    var nome = $(td).text();
                    var cell = $(td).attr('data-cell');
                    var note = $(td).attr('data-note');
                    $("#aggiungi_prenotazione input[name='nome']").attr('value', nome);
                    $("#aggiungi_prenotazione input[name='cell']").attr('value', cell);
                    $("#aggiungi_prenotazione input[name='note']").attr('value', note);
                    $("#aggiungi_prenotazione input[name='id_prenotazione']").attr('value', id_prenotazione);
                }




                var giorno_ita = $('h3#tabella_giorno').attr('data-giorno');
                var sport =  $("#tabella_sport thead tr th:nth-child("+ column_num +")").attr('title');
                var sportId = $("#tabella_sport thead tr th:nth-child("+ column_num +")").attr('data-sport-id');
                // var campoId = $("#tabella_sport thead tr th:nth-child("+ column_num +")").attr('data-column-id');
                var orario  = $("#tabella_sport tr").eq(row_num).find('th').attr('data-ora');
                $( "#dialog" ).dialog( "open" );
                $("#aggiungi_prenotazione input[name='giorno']").attr('value', giorno_ita);
                $("#aggiungi_prenotazione input[name='sport']").attr('value', sport);
                $("#aggiungi_prenotazione input[name='sport']").attr('data-sport-id', sportId);
                $("#aggiungi_prenotazione select option").each(function(){
                    $(this).removeAttr('selected');
                    var ora = $(this).attr('data-hour-number');

                    if(parseInt(orario) == parseInt(ora)){
                        $(this).attr('selected', true);
                    }
                })
            });


            $.datepicker.setDefaults( $.datepicker.regional[ "it" ] );
            $("#chiusura").datepicker();
            $("#orari_preferenze").datepicker();

            function openHide(box){
                if($(box).hasClass('fa-plus')){
                    $(box).removeClass('fa-plus').addClass('fa-minus');

                    showCheckbox();
                }else if($(box).hasClass('fa-minus')){
                    $(box).removeClass('fa-minus').addClass('fa-plus');
                    hideCheckbox();
                }
            }

            function orariPreferenze(box){
                if($(box).hasClass('fa-plus')){
                    $(box).removeClass('fa-plus').addClass('fa-minus');
                    $('.savePref').show('slow');
                }else if($(box).hasClass('fa-minus')){
                    $(box).removeClass('fa-minus').addClass('fa-plus');
                    $('.savePref').hide('slow');

                }
            }

            function savePref(){
                var pref = $('#savePref');
                var date = $(pref).find('input[name="data_preferenza"]').val();
                var aper = $(pref).find('input[name="apertura"]').val();
                var chiu = $(pref).find('input[name="chiusura"]').val();
                var nott = $(pref).find('input[name="notturno"]').val();


                var url = "{{ path('pref_save') }}";


                var obj = {'date': date, 'aper':aper, 'chiu':chiu, 'nott':nott};
                var jsonArray = JSON.stringify(obj);
                $.ajax({
                    type: "POST",
                    url: url,
                    data: jsonArray,
                    success: function(data){
                        var row_num = parseInt( $("#timePreferences table tr").length )-2;
                        var addRow = '<tr><td><i class="fa fa-trash" data-preferenze="'+data.id+'" onclick="deletePreference(this)"></i>&nbsp;'+date+'</td><td class="text-right">'+aper+':00</td><td class="text-right">'+chiu+':00</td><td class="text-right">'+nott+':00</td> </tr>';
                        $("#timePreferences table tr").eq(row_num).before(addRow);
                        $("#timePreferences input").each(function(){
                           $(this).val('');
                        });
                        $("#orariPreferenzeBox button.toggleOrariPreferenze .fa").click();
                    },
                    error: function(xhr, ajaxOptions, thrownError){
                        $("#savePref").append("<span style='color:red'>Si è verificato un errore</span>");

                    },
                    dataType: 'json'
                });
            }

            function deletePreference(item){
                var url = "{{ path('pref_delete') }}";
                var id = $(item).attr('data-preferenze');

                var obj = {'id': id};
                var jsonArray = JSON.stringify(obj);
                $.ajax({
                    type: "POST",
                    url: url,
                    data: jsonArray,
                    success: function(data){
                        $("i[data-preferenze='"+id+"']").closest('tr').remove();
                    },
                    error: function(xhr, ajaxOptions, thrownError){
                        $("#savePref").append("<span style='color:red'>Si è verificato un errore</span>");

                    },
                    dataType: 'json'
                });
            }

            function hideCheckbox(){
                $("#calendarioChiusure div").each(function(){
                    if(!$(this).find('input').is(':checked')){
                        $(this).hide('slow');
                    }else{
                        $(this).find('input').css('visibility','hidden ');
                    }
                })
            }

            function showCheckbox(){
                $("#calendarioChiusure div").each(function(){
                    if(!$(this).find('input').is(':checked')){
                        $(this).show('slow');
                    }else{
                        $(this).find('input').css('visibility','visible ');
                    }
                })
            }


            function addChiusura(){

                var data_nuova_chiusura =  $("input[name='chiusura']").val();
                data_chiusura = data_nuova_chiusura.split("/");
                data_chiusura = new Date(data_chiusura[2], data_chiusura[1]-1, data_chiusura[0]);
                var cb = document.createElement('input');
                cb.type = 'checkbox';
                data_chiusura = data_chiusura.getTime()/1000;
                cb.name = data_chiusura;
                cb.checked = true;
                $("#calendarioChiusure div").each(function(index){
                    var current_timestamp = $(this).find('input').attr('name');
                    if(current_timestamp > data_chiusura){

                        $('#calendarioChiusure > div:nth-child(' + index + ')' ).after("<div id='ins'> "+data_nuova_chiusura+"</div>");
                        $("#ins").prepend(cb);
                        return false;
                    }
                })

                toggleCalendar(cb);

            }

            function toggleCalendar(input){
                var url = "{{ path('cal_save') }}";
                var day = $(input).attr('name');

                var obj = {'day': day, 'checked': $(input).is(":checked")};
                var jsonArray = JSON.stringify(obj);
                $.ajax({
                    type: "POST",
                    url: url,
                    data: jsonArray,
                    success: function(data){
                        $("#calendarioChiusure #ins").css('opacity', "1");
                        $("#calendarioChiusure #ins").removeAttr("id");
                        $("#chiusura").attr('value','');
                    },
                    error: function(xhr, ajaxOptions, thrownError){
                        $("#calendarioChiusure #ins").append("<span style='color:red'> - Si è verificato un errore</span>");
                        $("#chiusura").attr('value','');
                    },
                    dataType: 'json'
                });
            }
        </script>
    </div>
{% endblock %}